[submodule "external/tiny_imageformat"]
	path = external/tiny_imageformat
	url = https://github.com/DeanoC/tiny_imageformat
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy/
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
